# ðŸ§  Welcome to Data Science with Python
This notebook will guide you through the basics of Python, pandas, and data visualization.

## ðŸ”¢ Python Basics
Learn basic syntax, variables, and operations.

In [ ]:
# Basic arithmetic
a = 10
b = 5
print('Sum:', a + b)
print('Product:', a * b)

## ðŸ“Š Data Manipulation with pandas
Explore tabular data using pandas.

In [ ]:
import pandas as pd

# Create a simple DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

## ðŸ“ˆ Data Visualization with matplotlib and seaborn
Create charts and graphs to understand data.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Sample data
ages = [25, 30, 35, 40, 45]
salaries = [40000, 50000, 60000, 65000, 70000]

# Line plot
plt.plot(ages, salaries)
plt.title('Age vs Salary')
plt.xlabel('Age')
plt.ylabel('Salary')
plt.show()

## âœ… Next Steps
Try modifying the code above and explore more datasets!